<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543204898331-ck2b3g4ogqv8ll1to2olurvqkd2tpm33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543204898331-ck2b3g4ogqv8ll1to2olurvqkd2tpm33</string>
	<key>API_KEY</key>
	<string>AIzaSyAvZ4kJMeSHpfjaSHhUcbzja6fDSZtFLAA</string>
	<key>GCM_SENDER_ID</key>
	<string>543204898331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialConnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>autentica-fire-teste</string>
	<key>STORAGE_BUCKET</key>
	<string>autentica-fire-teste.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543204898331:ios:0f43f0a063093f1ad4eabe</string>
</dict>
</plist>